@model List<ShowCommentViewModel>

<h2>Comments:</h2>

@foreach (var comment in Model)
{
    <!-- comment -->
    <div class="media">
        <div class="media-body">
            <div class="media-heading">
                <h4>@comment.User</h4>
                <span class="time">
                    @comment.DateCreated
                </span>
            </div>
            <p>@Html.DisplayFor(modelItem => comment.Comment)</p>
        </div>
    </div>
    <!-- /comment -->
    <hr/>
}
