@model TicketUserViewModel

@{
    ViewBag.Title = "Index";
}


@if (Model.UserID != null)
{
    <h2>Currently assigned to:</h2>
    <table class="table">
        <tr>
            <th>
                User Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Model.UserName
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                <form method="post" action="@Url.Action("RemoveTicketUsers", "ManageTicketUsers", new { id = Model.ID, userID = Model.UserID })" id="edit-button" class="edit-delete-btns-forms">
                    <button class="btn btn-primary admin-btns" type="submit">Unassign from ticket</button>
                </form>
            </td>
        </tr>
    </table>
}