@model EditTicketUsersViewModel

@{
    ViewBag.Title = "EditTicketUsers";
}

<h2>@Model.Title</h2>
<h2>EditTicketUsers</h2>

@Html.Action("CurrentTicketUsers", "ManageTicketUsers", new { id = Model.ID })
@Html.Action("AddTicketUsers", "ManageTicketUsers", new { id = Model.ID })
