
@{
    ViewBag.Title = "FullProject";
}

@model FullProjectViewModel


<h2>@Model.ProjectName</h2>

<div class="main-post">
    <p>@Html.Raw(Model.Description)</p>
</div>

@Html.Action("Show", "Ticket", new { id = Model.ID })

@Html.Action("Create", "Ticket", new { id = Model.ID })
