@model NumberWidget

<div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c1">
        <div class="overview__inner">
            <div class="overview-box clearfix">
                <div class="icon">
                    <i class="zmdi zmdi-account-o"></i>
                </div>
                <div class="text">
                    <h2>@Model.Number</h2>
                    <span>Tickets Assigned To Me</span>
                </div>
            </div>
        </div>
    </div>
</div>
