@model List<IndexAttachmentViewModel>

<h2>Attachments:</h2>

@foreach (var attachment in Model)
{
    <!-- comment -->
    <div class="media">
        <div class="media-body">
            <div class="media-heading">
                <h4>@attachment.User</h4>
                <span class="time">
                    @attachment.Created
                </span>
            </div>
            <p>@Html.DisplayFor(modelItem => attachment.Description)</p>
        </div>
        <p>@Html.DisplayFor(modelItem => attachment.FilePath)</p>
    </div>
    <!-- /comment -->
    <hr />
}